<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css/">
    <link rel="stylesheet" type="text/css" href="/static/css/edit-student-Quest.css/">
    <link rel="icon" href="/static/img/favicon.ico/">
{#    <script src="/static/js/addQuest.js" defer></script>#}
    <title>Add quest</title>
</head>

<body>
<div class="container">

    <header>
        <div>
            <h1>School of Code</h1><br>
            <p>Magical ways of coding</p>
        </div>

    </header>

    <nav>
        <ul>
            <li><a href="/mentor">Back</a></li>
        </ul>

    </nav>

    <main>
        <aside class="options">
            <div id="options-right">
                <ul>
                    <li><a href="#"><p>ACTION</p></a></li>
                </ul>
            </div>
        </aside>

        <section class="main-content">
            <div class="items-content">

                <form id="add-reward" action="http://localhost:8000/mentor/mark_quest" method="POST">

                    <h1>MARK QUEST </h1>
                    <h3><span id="author">Submitted by: {{ studentQuest.getAuthor() }}, studentId: <span id="studentId">{{ studentQuest.getStudentId() }}</span></span></h3>
                    <h3><span id="questName">Quest name: {{ studentQuest.getQuestName() }},</span><span id="questId"> questId: {{ studentQuest.getQuestId() }}</span></h3>
                    <h3><span id="value">Coins to earn:  {{ studentQuest.getValue() }} mc</span></h3>

                    <label for="submission">Quest submission</label>
                    <textarea class="input" id="submission" name="submission" placeholder="Quest submission">{{ studentQuest.getQuestSubmission() }}</textarea>
                    <label for="status" id="modules-label">Status</label>
                    <select class="input" id="status" name="status" size="1">
                        <option value="1">SUBMITTED</option>
                        <option value="2">APPROVED</option>
                        <option value="3">NOT-APPROVED</option>
                     </select>

                    <div class="button">
                        <button type="submit">SUBMIT</button>
                        <button type="reset">RESET</button>

                    </div>

                </form>
                <div id="item">

                </div>
            </div>
        </section>

        <aside class="right-bar">
            <div id="right-bar-left">
                <h1>QUEST</h1>

                <div id="avatar">

                </div>
            </div>
            <div id="right-bar-right">
            </div>
        </aside>

    </main>

    <footer>&copy; Dumbledore's Army</footer>
</div>

</body>

</html>