<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css/">
  <link rel="stylesheet" type="text/css" href="/static/css/mentor-menu.css/">
  <link rel="stylesheet" type="text/css" href="/static/css/students.css/">
  <link rel="icon" href="/static/img/favicon.ico/">
  <!-- <script src="main.js" defer></script> -->
  <title>Profile</title>
</head>
<body>

  <div class="container">

    <header>
      <div> 
        <h1>School of Code</h1><br>
        <p>Magical ways of coding</p>
      </div>

    </header>

    <nav>
      <ul>
        <li><a href="login-page.html">Start</a></li>
        <li><a href="/mentor/quests_mentor">Quests</a></li>
        <li><a href="/mentor/rewards_mentor">Rewards</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>

    </nav>

    <main>


      <aside class="options">
        <div id="options-right">
          <h1>Select option: </h1>
          <ul>
            <li><a href="mentor/students_mentor"><p>SHOW STUDENTS</p></a></li>
            <li><a href="/mentor/add_student"><p>ADD STUDENT</p></a></li>
            <li><a href="/mentor/add_quest"><p>ADD QUEST</p></a></li>
            <li><a href="/mentor/add_artifact"><p>ADD ARTIFACT</p></a></li>
          </ul>
        </div>
      </aside>

      <section class="main-content">
        <h1>Assignments to check</h1>
        <div class="items-content">

          <table>
            <tr>
              <th>NAME</th>
              <th>SURNAME</th>
              <th>EMAIL</th>
              <th>MODULE</th>
              <th>EDIT</th>
            </tr>
            {% for student in students %}
{#            {% for quest in students.getQuestList() %}#}
{#              {% if quest.getQuestStatus().equals("SUBMITTED") %}#}
              <tr>
                <td>{{ student.getFirstName() }}</td>
                <td>{{ student.getLastName() }}</td>
                <td>{{ student.getEmail() }}</td>
                <td>{{ student.getModuleName() }}</td>
                <td><a class="edit" href="/mentor/students_mentor/edit/{{ student.getId() }}">EDIT</a></td>

              </tr>

{#              {% endif %}#}
{#            {% endfor %}#}

            {% endfor %}



          </table>
{#          <div class="item">#}
{#            <a href="/mentor/students_mentor">Show students' list</a>#}
{#          </div>#}
{#          <div class="item">#}
{#            <a href="/mentor/add_student">Create a new student account</a>#}
{#          </div>#}
{#          <div class="item">#}
{#            <a href="#">Mark a quest as done</a>#}
{#          </div>#}
{#          <div class="item">#}
{#            <a href="#">See students' wallets</a>#}
{#          </div>#}
{#          <div class="item">#}
{#            <a href="/mentor/add_quest">Add new quest</a>#}
{#          </div>#}
{#          <div class="item">#}
{#            <a href="/mentor/add_artifact">Add new reward</a>#}
{#          </div>#}
        </div>
      </section>

      <aside class="right-bar">
        <div id="right-bar-left">
          <img alt="severus" src="/static/img/severus.png">
          <h2>Name: {{ mentor.getFirstName() }}</h2><br>
          <h2>Surname: {{ mentor.getLastName() }}</h2><br>
{#          <h2>Your modules:</h2><br>#}
          {% for module in mentor.getModules() %}

            <h2>Module: {{ module.getName() }}</h2><br>

          {% endfor %}

        </div>
        <div id="right-bar-right">

        </div>
      </aside>

    </main>

    <footer>&copy; Dumbledore's Army</footer>
  </div>

</body>
</html>