{% extends 'base.twig' %}

{% block title %}
    {{ parent() }} | rewards
{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/static/css/student-menu.css/">

    <link rel="stylesheet" type="text/css" href="/static/css/rewards.css/">
{% endblock %}

{% block scripts %}
    <script src="/static/js/rewards.js" defer></script>
{% endblock %}

{% block container %}
    <header>
        <div>
            <h1>School of Code</h1><br>
            <p>Magical ways of coding</p>
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="/mentor">Back</a></li>

        </ul>

    </nav>

    <main>

        <aside class="options">
            <div id="options-right">
                <ul>

                </ul>
                <br><br><br><br><br><br><br><br><br><br><br>

                <br><br>

            </div>
        </aside>

        <section class="main-content">
            <h1>ARTIFACTS</h1>
            <div class="items-content">

                {% for reward in rewards %}

                    <div class="item-content">
                        <div>
                            <a href="/rewards/remove/{{ reward.getId() }}">DEL </a>
                            <a href="/rewards/update/{{ reward.getId() }}"> UPDATE</a>
                        </div>
                        <div class="item" id="artifact-{{ reward.getId() }}">
                            <p class="item-desc">{{ reward.getDescription() }}</p>
                            <p class="item-name">{{ reward.getName() }}</p>
                        </div>
                        <p>Price: {{ reward.getPrice() }} mc</p>
                    </div>

                {% endfor %}


            </div>
        </section>

        <aside class="right-bar">
                <div id="right-bar-left">
                  <img alt="severus" src="/static/img/severus.png">
                  <h2>Name: {{ mentor.getFirstName() }}</h2><br>
                  <h2>Surname: {{ mentor.getLastName() }}</h2><br>
                  <h2>Spec: Code brewing</h2><br>
                </div>
                <div id="right-bar-right">

                </div>
              </aside>

    </main>

    <footer>&copy; Dumbledore's Army</footer>
{% endblock %}